{% extends 'base.html'%}
{% import 'macros.html' as macro %}


{% block content %}

<!-- Content block -->
<div class="container">
  <h2><b>More Articles from the Same Source</b></h2>
  <div class="row">
    {% for article in articles %}
    <div class="col-md-4">
      <div class="article">
        <img src="{{article.time}}" alt="{{article.time}}" width="100%"><br>
        <h4><b>{{article.url}}</b></h4>
        <!-- <li>{{article.name}}</li> <br> -->
        <i>
          <li>{{article.content}}</li> <br>
        </i>
        <p>
          This article was posted by {{article.source.name}} on {{article.author}}<br>
          <a href="{{article.image}} ">
            Read More..
          </a>
      </div>

    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}