{% extends 'base.html'%}
{% import 'source.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
<!-- Styles block -->


<!-- Content block -->

<div class="all">
  <div class="child">
    <div class="container">
      <div class="row">

        <div class="col">

          <div class="">

            {% for source in sources %}
            <!-- articles -->
            {% for article in articles %}
            <br>
            <h1><b>Source:{{source.name}}</b></h1>
            <b>
              <h3>
                <a href="/article/{{source.id}}">
                  <img src="{{article.time}}" alt="{{article.time}}" width="100%"><br>

                  {{article.url }} <br>
                </a>
              </h3>

            </b>
            <!-- {{article.content}} <br> -->
            <i>
              {{ article.title }} <br>
              {{article.content}} <br>
            </i>
            <br>

            <p><b>
                This article was posted by {{article.source.name}} on {{article.author}}<br>
              </b></p>



            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}