<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Article website </title>
    {% endif %}
</head>

<body>
    <!-- sources section  -->
    <h3> Sources</h3>
    <ul>
        {% for source in sources %}
        <li>{{ source.name}}</li>
        <li>{{source.id}}</li>
        {% for article in articles %}
        <li>{{article.title}}</li>
        <li>{{article.description}}</li>
        {% for headline in headlines %}
        {{headline.title}}
        {{headline.description}}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </ul>
</body>

</html>