{% macro displaySourcesList(source_results_list) %}
{% for source in sources %}
<h3>Sources</h3>
    <ul>
        {{ macro.displaySourcesList(source_results_list)}} l k
    </ul>
    <li>{{source.name}}</li>
    <li>{{source.id}}</li>
 
  {% for article in articles%}
  <img src="{{ article.time }}" alt="{{ article.title }} " >
  <li class="text-center">
    <a href="/article/{{article.id}}">
      {{ article.author}} vnvn
    </a>
  </li>
  
  {{article.description |truncate (100)}}


{% endfor %}
{% endfor %}
{% endmacro %}